.index {
  padding: 32px;

  &__title {
    display: block;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  &__maps {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__map {
    width: 330px;
    padding: 40px 0;
    text-align: center;
    border-radius: 16px;
    background: #f2f3f5;
    font-size: 32px;
  }
}
